<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Aravind</p>
    </footer>
    <button id="theme-toggle" class="theme-toggle">
        <span id="theme-icon" class="sun-icon">&#9728;</span> <!-- Hollow sun icon -->
        <span id="theme-icon" class="moon-icon">&#9790;</span> <!-- Hollow moon icon -->
    </button>
    <script src="{{ url_for('static', filename='js/theme-toggle.js') }}"></script>
</body>
</html>
